fastapi
uvicorn
sqlalchemy
psycopg2-binary
jinja2
python-multipart
Pillow
moviepy
mammoth
weasyprint
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
Pillow
pdf2docx
opencv-python-headless
requests
beautifulsoup4
pydub
markdown
httpx
yt-dlp
